<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="https://i.pinimg.com/originals/e6/d5/1a/e6d51a8d7fa233df489e71c18d491431.png"
    />
    <title>Hi! Thảo đây</title>
    <link rel="stylesheet" href="/static/css/style.css"> 
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul style="color: #16763e; ">
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}  
    <div class="header">
      <h1>SUMMER VACATION 2021</h1>
      <h2 >
        Crimea
      </h2>
      <p>
        <i
          >"Chuyến đi trốn của mình sau một năm học đầy <b>hỷ-nộ-ái-ố</b>.<br />
          Là một đứa siêu siêu lười chụp ảnh nên mình cũng không lưu lại được
          nhiều khoảnh khắc lắm.<br />
          Hy vọng số ảnh ít ỏi này có thể làm tư liệu để sau này khoe với con
          cháu hihi &#128151."</i
        >
      </p>
    </div>
    <br />

    <div class="image">
      <hr />
      <div class="row">
        <div class="img-container">
          <img
            src="/static/pics/1.jpg"
            alt="crimea"
            class = "reimage"
            style="width:100%"
          />
        </div>
        <div class="img-container">
          <img
            src="/static/pics/2.jpg"
            alt="crimea"
            class = "reimage"
            style="width:100%"
          />
        </div>
        <div class="img-container">
          <img
            src="/static/pics/3.jpg"
            alt="crimea"
            class = "reimage"
            style="width:100%"
          />
        </div>
      </div>
      <div class="row">
        <div class="img-container">
          <img
            src="/static/pics/4.jpg"
            alt="crimea"
            class = "reimage"
            style="width:100%;"
          />
        </div>
        <div class="img-container">
          <img
            src="/static/pics/5.jpg"
            alt="crimea"
            class = "reimage"
            style="width:100%"
          />
        </div>
        <div class="img-container">
          <img
            src="/static/pics/6.jpg"
            alt="crimea"
            class = "reimage"
            style="width:100%"
          />
        </div>
      </div>
      <div class="row">
        <div class="img-container">
          <img
            src="/static/pics/7.jpg"
            alt="crimea"
            class = "reimage"
            style="width:100%"
          />
        </div>
        <div class="img-container">
          <img
            src="/static/pics/8.jpg"
            alt="crimea"
            class = "reimage"
            style="width:100%"
          />
        </div>
        <div class="img-container">
          <img
            src="/static/pics/9.jpg"
            alt="crimea"
            class = "reimage"
            style="width:100%"
          />
        </div>
      </div>
      <div class="row">
        <img
          src="/static/pics/10.jpg"
          alt="crimea"
          class = "reimage"
          style="width:100%"
        />
      </div>
      <hr />
   
    </div>

    <footer class="footer">
      <p>
        <i>Copyright by Chu Phuong Thao <br /></i>
        CONTACT
      </p>
      <a href="mailto:chuphuongthao04121999@gmail.com" title="Gmail">
        <img
          src="/static/pics/gmaillogo.png" 
          alt="Gmail"
          style="width:32px; height:32px;"
      /></a>
      <a href="https://www.facebook.com/chuthao0412" title="Facebook">
        <img
          src="/static/pics/fb.png"
          alt="Facbook"
          style="width:32px; height:32px;"
        />
      </a>
      <a href="https://www.instagram.com/_cpthao.412/" title="Instagram">
        <img
          src="/static/pics/ins.png"
          alt="Instagram"
          style="width:32px; height:32px;"
        />
      </a>
    </footer>
    <form class="logout" action="/logout" method="post">
        <input type="submit" value="LogOut">
    </form>

    <a href="/changepwd"> Change your password </a>
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
  </div>
  
  </body>
 <script>
        var modal = document.getElementById("myModal");
        var allImg = document.getElementsByClassName("reimage");
        var modalImg = document.getElementById("img01");
       
        for (var i = 0; i < allImg.length; i++) {
            var img = document.getElementsByClassName("reimage")[i];
                img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
                
            }
        }
        var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
            modal.style.display = "none";
        }
 </script>
</html>